# Byte-compiled / optimized Python files
__pycache__/
*.pyc
*.pyo
*.pyd

# C extensions
*.so

# Distribution / packaging
dist/
build/
*.egg-info/

# Virtual environments
venv/
env/
*.env/

# IDE files
.vscode/
.idea/

# Compiled source
*.com
*.class
*.dll
*.exe
*.o
*.so

# Logs and databases
*.log
*.sql
*.sqlite

# OS-specific files
.DS_Store
Thumbs.db

# Ignore the secret configuration file
secret_config.yaml

# Ignore environment-specific files
*.env
*.env.local
*.env.*.local

# Ignore pipenv virtual environment
Pipfile
Pipfile.lock
